<div *ngIf="globals.authData!=undefined">
<!-- <div class="go_top"><i class="fa fa-angle-up" aria-hidden="true"></i></div> -->

<!-- Start Footer --> 
<footer>
		
	<div class="container">
		
		<div class="row">
			<div class="col-md-6 col-sm-6 text-left">Copyrights &copy; 2019 OpenEyes Technologies Inc.</div>
			<div class="col-md-6 col-sm-6 text-right">
				<ul class="social_links">
					<li><a href="https://twitter.com/OpenEyesTech" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="https://www.linkedin.com/company/13243146/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<div class="clearfix"></div>
<!-- End Footer --> 
</div>