<div id="page-wrapper">
  <div class="row">
    <!--  page header -->
    <div class="col-lg-12">
      <div class="breadcrumb_block">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="page_heading">
            <h1>List of ACH Invitations</h1>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/ach-list"><i class="fa fa-home"></i></a></li>
            <li class="breadcrumb-item active">ACH Invitations</li>
          </ol>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="btn-group pull-right add-right">
        <a routerLink="/ach-invitation" class="next_btn">
          Invite User for ACH
        </a>
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- end  page header -->
  </div>
  <div class="alert alert-{{globals.type}}" role="alert" *ngIf="globals.msgflag">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{globals.message}}
  </div>
  <div class="row">
    <div class="col-lg-12">
      <!-- Advanced Tables -->
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTables-invitations">
              <thead>
                <tr>
                  <th class="sr_width text-center">#</th>
                  <th class="">Email</th>
                  <th class="text-center">Status</th>
                  <th class="text-center action_width">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let UserDetail of userList; let i = index">
                  <td class="text-center">{{i+1}}</td>
                  <td>{{UserDetail.EmailAddress}}</td>
                  <td class="text-center">
                    <div *ngIf="UserDetail.StatusId=='0'" class="text-info">
                      <strong>Pending to fill ACH</strong>
                    </div>
                    <div *ngIf="UserDetail.StatusId=='1'" class="text-success">
                      <strong>ACH Submitted</strong>
                    </div>
                    <div *ngIf="UserDetail.StatusId=='2'" class="text-danger">
                      <strong>Revoked</strong>
                    </div>
                  </td>
                  <td class="text-center">
                    <div *ngIf="UserDetail.StatusId=='0'" class="inline_delbtn">
                      <button class="btn btn-danger btn-rounded btn-sm" (click)="RevokeInvitation(UserDetail)">
                        Revoke
                      </button>
                    </div>
                    <div *ngIf="UserDetail.StatusId=='1'" class="inline_delbtn tooltip_inline" data-toggle="tooltip"
                      data-placement="bottom" title="This invitation can't be revoked as it is already submitted ACH Form.">
                      <button [disabled]="UserDetail.StatusId=='1'" class="btn btn-danger btn-rounded btn-sm">
                        Revoke
                      </button>
                    </div>
                    <div *ngIf="UserDetail.StatusId=='2'" class="inline_delbtn">
                      <button class="btn btn-success btn-rounded btn-sm" (click)="ReInvitation(UserDetail)">
                        Re-Invite
                      </button>
                    </div>
                  </td>
                </tr>
                <tr class="text-center" *ngIf="userList.length == 0">
                  <td colspan="4">There is no record found.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--End Advanced Tables -->
    </div>
  </div>
</div>
<!-- end page-wrapper -->