
<div id="page-wrapper">
  <div class="row">
    <!--  page header -->
    <h1 class="text-center">List of User</h1>
    <!-- end  page header -->
    
  </div>
  <div class="alert alert-{{globals.type}}" role="alert" *ngIf="globals.msgflag">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{globals.message}}
  </div>
  <div class="row">
    <div class="col-lg-12">
      <!-- Advanced Tables -->
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTables-example">
              <thead>
                <tr>
                  <th class="sr_width text-center">#</th>
                  <th class="">Firstname</th>
                  <th class="">Lastname</th>
                  <th class="">Address</th>
                  <th class="">Phone Number</th>
                  <th class="">Email</th>
                  <th class="">PAN card</th>
                  <th class="">Addressproof</th>
                  <th class="">Action</th>
                  
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ach of achlist; let i = index">
                  <td class=" text-center">{{i+1}}</td>
                  <td>{{ach.FirstName}}</td>
                  <td>{{ach.LastName}}</td>
                  <td> {{ach.Address}}</td>
                  <td> {{ach.PhoneNumber}}</td>
                  <td> {{ach.EmailAddress}}</td>
                  <td> {{ach.PanCard}}</td>
                  <td> {{ach.AddressProof}}</td>
                  <td><input type="button" class="btn btn-success" value="View Detail" (click)="ViewDetail(ach);"/></td>
                   
                   
                </tr>
                <tr class="text-center" *ngIf="achlist.length <= 0">
                  <td colspan="4">There is no record found.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--End Advanced Tables -->
    </div>
  </div>
</div>



<!-- 
<tr  *ngFor="let a of achuserList; let i = index">
  <td class=" text-center btn btn-success">{{i+1}}</td>
  <td>{{a.FirstName}}</td>
  <td>{{a.LastName}}</td>
</tr> -->


<div class="modal fade bs-example-modal-sm" id="Details_Modal" tabindex="-1" role="dialog" aria-labelledby="ach_modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-md-12">
            <div class="pull-left">
              <h3 class="modal-title" id="myModalLabel">Userdetail</h3>
            </div>
            <div class="pull-right">
              <div class="btn-group add-right">
                <button type="button" class="btn btn-danger btn-rounded btn-sm delete-user-row-with-ajax-button"
                  data-dismiss="modal"><span class="fa fa-times"></span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="modal-body">
        <div class="col-lg-12 col-md-12">
          
          <!-- <div class="alert alert-info" *ngIf="evaluationNoteEntity.EvaluationNote!=null">You already Added.</div> -->
        </div>

        
      </div>
    </div>
  </div>
</div>



