<div id="page-wrapper">
  <div class="row">
    <!--  page header -->
    
    <!-- end  page header -->
    
  </div>
  <div class="alert alert-{{globals.type}}" role="alert" *ngIf="globals.msgflag">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{globals.message}}
  </div>
  <div class="row">
    <div class="col-lg-12">
      <!-- Advanced Tables -->
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTables-example">
              <thead>
                <tr>
                  <th class="sr_width text-center">#</th>
                  <th class="">Firstname</th>
                  <th class="">Lastname</th>
                  <th class="">Homeaddress</th>
                  <th class="">Phone</th>
                  <th class="">Email</th>
                  <th class="">Bankname</th>
                  <th class="">Bankaddress</th>
                  <th class="">Bankacno</th>
                  <th class="">IFSC code</th>
                  <th class="">Account Type</th>
                  <th class="">Bankphone</th>
                 
                  
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let department of departmentList; let i = index">
                  <td class=" text-center">{{i+1}}</td>
                  <td>{{achlist.firstname}}</td>
                  <td class="text-center">
                    <div class="activeyes_box" data-toggle="tooltip" data-placement="top" [attr.title]="department.IsActive==1 ? 'Active' : 'Deactive'">
                      <input type="checkbox" name="active1" id="active{{i}}" (change)="isActiveChange(department,i)"
                        [checked]="department.IsActive==1" value="Yes">
                      <label for="active{{i}}"></label>
                    </div>
                  </td>
                  <td class="text-center">
                    <div class="inline_delbtn tooltip_inline" title="Edit" data-toggle="tooltip" data-placement="bottom">
                      <button class="btn btn-default btn-rounded btn-sm" routerLink="/department/edit/{{department.DepartmentId}}">
                        <span class="fa fa-pencil"></span>
                      </button>
                    </div>
                    <div *ngIf="department.isdisabled>0" class="inline_delbtn tooltip_inline" data-toggle="tooltip" data-placement="bottom" title="Department can't be deleted as it is already used in Job Title.">
                      <button [disabled]="department.isdisabled>0" data-type="Record"
                        class="btn btn-danger btn-rounded btn-sm delete-user-row-with-ajax-button"><span class="fa fa-times"></span></button>
                    </div>
                    <div *ngIf="department.isdisabled==0" class="inline_delbtn tooltip_inline" data-toggle="tooltip" data-placement="bottom" title="Delete">
                      <button data-type="Record" class="btn btn-danger btn-rounded btn-sm delete-user-row-with-ajax-button"
                        (click)="deleteDepartment(department)">
                        <span class="fa fa-times"></span>
                      </button>
                    </div>
                  </td>
                </tr>
                <tr class="text-center" *ngIf="achlist.length <= 0">
                  <td colspan="4">There is no record found.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--End Advanced Tables -->
    </div>
  </div>
</div>
<!-- end page-wrapper -->
