<div class="row">
  <div class="col-lg-12">
    <div class="breadcrumb_block">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="page_heading">
          <h1>Invite User for ACH</h1>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 text-right">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/ach-list"><i class="fa fa-home"></i></a></li>
          <li class="breadcrumb-item"><a routerLink="/ach-invitation-list">Invitations</a></li>
          <li class="breadcrumb-item active">Invite User for ACH</li>
        </ol>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="btn-group pull-right add-right addpage_backbtn">
      <a routerLink="/ach-invitation-list" class="back_btn">
        Back to list
      </a>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="form-bg">
      <form class="form-validate" role="form" #inviteUserForm="ngForm" (ngSubmit)="inviteUser(inviteUserForm)">
        <div class="form-group col-md-12">
          <label><span class="required">*</span>Email Address</label>
          <input type="EmailAddress" class="form-control" #EmailAddress="ngModel" [(ngModel)]="InvitationEntity.EmailAddress"
            [ngClass]="{red_border: (EmailAddress.dirty && EmailAddress.invalid) || (EmailAddress.pristine && submitted)}"
            name="EmailAddress" id="EmailAddress" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
            required>
          <span class="error_span" *ngIf="(EmailAddress.dirty && EmailAddress.invalid) || (EmailAddress.pristine && submitted)">
            <span *ngIf="EmailAddress.errors.required || (EmailAddress.pristine && submitted)">Please
              enter Email Address</span>
            <span *ngIf="EmailAddress.errors && EmailAddress.errors.pattern">Please
              enter valid Email Address</span>
          </span>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 col-sm-12 text-center">
          <button type="submit" [disabled]="btn_disable" class="next_btn"><span>Submit</span></button>
          <!-- <button type="submit" *ngIf="questionEntity.QuestionId!=0" class="lgn_btn"><span>Update</span></button> -->
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<!-- End Inner Section -->