<div class="row">
  <div class="col-lg-12">
    <div class="breadcrumb_block">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="page_heading">
          <h1>Invite User for ACH</h1>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 text-right">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/ach-list"><i class="fa fa-home"></i></a></li>
          <li class="breadcrumb-item"><a routerLink="/ach-invitation/list">Invitations</a></li>
          <li class="breadcrumb-item active">Invite User for ACH</li>
        </ol>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="btn-group pull-right add-right addpage_backbtn">
      <a routerLink="/ach-invitation/list" class="back_btn">
        Back to list
      </a>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="form-bg">
      <form class="form-validate" role="form" #inviteUserForm="ngForm" (ngSubmit)="inviteUser(inviteUserForm)">
        <div class="form-group col-md-6">
          <label><span class="required">*</span>First Name</label>
          <input type="text" class="form-control" #FirstName="ngModel" [(ngModel)]="InvitationEntity.FirstName" name="FirstName"
            maxlength="100" pattern="[a-zA-Z',&.$\ ]{2,}" required>
          <span class="error_span" *ngIf="(FirstName.dirty && FirstName.invalid) || (FirstName.pristine && submitted)">
            <span *ngIf="FirstName.errors.required || (FirstName.pristine && submitted)">Please
              enter First Name</span>
            <span class="error_span" *ngIf="FirstName.errors && FirstName.errors.pattern">
              Please enter a valid First Name
            </span>
          </span>
        </div>
        <div class="form-group col-md-6">
          <label><span class="required">*</span>Last Name</label>
          <input type="text" class="form-control" #LastName="ngModel" [(ngModel)]="InvitationEntity.LastName" [ngClass]="{red_border: (LastName.dirty && LastName.invalid) || (LastName.pristine && submitted)}"
            name="LastName" id="LastName" pattern="[a-zA-Z',&.$\ ]{2,}" maxlength="50" required>
          <span class="error_span" *ngIf="(LastName.dirty && LastName.invalid) || (LastName.pristine && submitted)">
            <span *ngIf="LastName.errors.required || (LastName.pristine && submitted)">Please
              enter Last Name</span>
            <span *ngIf="LastName.errors && LastName.errors.pattern">Please
              enter valid Last Name</span>
          </span>
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-md-6">
          <label><span class="required">*</span>Email Address</label>
          <input type="EmailAddress" class="form-control" #EmailAddress="ngModel" [(ngModel)]="InvitationEntity.EmailAddress"
            name="EmailAddress" id="EmailAddress" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
            required>
          <span class="error_span" *ngIf="(EmailAddress.dirty && EmailAddress.invalid) || (EmailAddress.pristine && submitted)">
            <span *ngIf="EmailAddress.errors.required || (EmailAddress.pristine && submitted)">Please
              enter Email Address</span>
            <span *ngIf="EmailAddress.errors && EmailAddress.errors.pattern">Please
              enter valid Email Address</span>
          </span>
        </div>
        <div class="form-group col-md-6">
          <label>Phone Number</label>
          <input type="text" class="form-control" #PhoneNumber="ngModel" [(ngModel)]="InvitationEntity.PhoneNumber"
            name="PhoneNumber" pattern="[0-9\-.()+\s]{3,13}" maxlength="13">
          <span class="error_span" *ngIf="(PhoneNumber.dirty && PhoneNumber.invalid) || (PhoneNumber.pristine && submitted)">
            <span *ngIf="PhoneNumber.errors && PhoneNumber.errors.pattern">Please
              enter valid Phone Number</span>
          </span>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 col-sm-12 text-center">
          <button type="submit" [disabled]="btn_disable" class="next_btn"><span>Submit</span></button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<!-- End Inner Section -->