<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="breadcrumb_block">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="page_heading text-center">
          <h1>ACH</h1>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="inner_content">
  <div class="container ">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
          <h1 class="text-center">Thank you for your submission.</h1>
          <h2 class="text-center">We will review it and get back to you at our earliest.</h2>
        </div>
        <div class="clearfix"></div>
        <div class="form-btn text-center">
          <a href="http://www.theopeneyes.com/" target="_blank"><button type="submit" class="next_btn"><span>Visit our
                Website</span></button></a>
          <a routerLink="/ach/{{UserId}}"><button type="submit" class="next_btn"><span>Update ACH Detail</span></button></a>
        </div>
      </div>
    </div>
  </div>
</div>