<form class="form-validate" role="form" #achForm="ngForm" (ngSubmit)="addAchForm(achForm)">
  <div class="form-group col-md-6">
      <label><span class="required">*</span>First Name</label>
      <input type="text" class="form-control" #FirstName="ngModel" [(ngModel)]="UserInfoEntity.FirstName"
          [ngClass]="{red_border: (FirstName.dirty && FirstName.invalid) || (FirstName.pristine && submitted)}"
          name="FirstName" pattern="[a-zA-Z',&.$\ ]{2,}" maxlength="50" required>
      <span class="error_span" *ngIf="(FirstName.dirty && FirstName.invalid) || (FirstName.pristine && submitted)">
          <span *ngIf="FirstName.errors.required || (FirstName.pristine && submitted)">Please
              enter First Name</span>
          <span *ngIf="FirstName.errors && FirstName.errors.pattern">Please
              enter valid First Name</span>
      </span>
  </div>

  </form>