<div class="row norowmargin">
  <div class="col-lg-12">
    <div class="breadcrumb_block">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="page_heading">
          <h1 class="change_password">Change Password</h1>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 text-right">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard"><i class="fa fa-home"></i></a></li>
          <li class="breadcrumb-item active">Change Password</li>
        </ol>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="btn-group pull-right add-right addpage_backbtn">
      <a routerLink="/dashboard" class="back_btn">
        Back to Dashboard
      </a>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="row norowmargin">
  <div class="col-lg-12">
    <div class="form-bg">
      <form class="form-validate" role="form" #changepasswordForm="ngForm" (ngSubmit)="changeNewPassword(changepasswordForm)">
        <div class="form-group col-md-4">
          <label><span>*</span>Current Password</label>
          <input type="password" class="form-control" (keyup)="confirmPassword()" #Password="ngModel" maxlength="100"
            [(ngModel)]="changepasswordEntity.Password" name="Password" [ngClass]="{red_border: (Password.dirty && Password.invalid) || (Password.pristine && submitted)}"
            required />
          <span class="error_span" *ngIf="(Password.dirty && Password.invalid) || (Password.pristine && submitted)">
            <span *ngIf="Password.errors && Password.errors.required">
              Please enter your Current Password
            </span>
          </span>
        </div>
        <div class="form-group col-md-4">
          <label><span>*</span>New Password</label>
          <input type="password" class="form-control" (keyup)="confirmPassword()" pattern="^([a-zA-Z0-9.-_-@$*&!#]{8,})$"
            #NewPassword="ngModel" data-toggle="tooltip" maxlength="100" data-placement="top" title="Use 8 or more characters with a mix of letters, numbers & symbols(! @ # $ & * _ - )"
            [(ngModel)]="changepasswordEntity.NewPassword" name="NewPassword" [ngClass]="{red_border: (NewPassword.dirty && NewPassword.invalid) || (NewPassword.pristine && submitted)}"
            required />
          <span class="error_span" *ngIf="(NewPassword.dirty && NewPassword.invalid) || (NewPassword.pristine && submitted)">
            <span *ngIf="NewPassword.errors && NewPassword.errors.required">
              Please enter your New Password
            </span>
            <span *ngIf="NewPassword.errors && NewPassword.errors.pattern">
              Password must be 8 characters or more
            </span>
          </span>
          <span class="error_span" *ngIf="oldnewsame && !newconfsame && !(NewPassword.errors && NewPassword.errors.pattern && NewPassword.errors.required)">
            Please enter different password than Current Password
          </span>
        </div>
        <div class="form-group col-md-4">
          <label><span>*</span>Confirm Password</label>
          <input type="password" class="form-control" (keyup)="confirmPassword()" pattern="[a-zA-Z0-9.-_-@$*&!#]{8,}"
            #ConfirmPassword="ngModel" maxlength="100" [(ngModel)]="changepasswordEntity.ConfirmPassword" name="ConfirmPassword"
            [ngClass]="{red_border: (ConfirmPassword.dirty && ConfirmPassword.invalid) || (ConfirmPassword.pristine && submitted||(newconfsame && !(ConfirmPassword.errors && ConfirmPassword.errors.pattern && ConfirmPassword.errors.required)))}"
            required />
          <span class="error_span" *ngIf="(ConfirmPassword.dirty && ConfirmPassword.invalid) || (ConfirmPassword.pristine && submitted) || newconfsame">
            <span *ngIf="ConfirmPassword.errors && ConfirmPassword.errors.required && !newconfsame">
              Please enter your Confirm Password
            </span>
            <span *ngIf="ConfirmPassword.errors && ConfirmPassword.errors.pattern && !newconfsame">
              Please input a valid password
            </span>
            <span *ngIf="newconfsame && !(ConfirmPassword.errors && ConfirmPassword.errors.pattern && ConfirmPassword.errors.required)">
              Those passwords didn't match
            </span>
          </span>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 col-sm-12 text-center">
          <button type="submit" class="next_btn"><span>Submit</span></button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<!-- End Inner Section -->