@charset "utf-8";
/* CSS Document */
/* ========== Do Not Touch In Css Strat ========== */
html{height:100%; min-height:100%;}
body{margin:0px; padding: 0;background:#fff;font-family: 'Titillium Web', sans-serif;overflow-x: hidden; height:auto;}
p{margin:0px; padding:0px 0 0 0; line-height:26px; color: #2e2d31; font-size: 16px;font-family: 'Titillium Web', sans-serif;}
p.padding_15{padding-bottom:15px;}
p.padding_30{padding-bottom:35px;}
.no_padding{padding:0px!important;}
.no_margin{margin:0px!important;}
.clear {clear:both;}
a {text-decoration:none; color:#191919;}
a:hover, a.selected {text-decoration:none; color:#0061af;}
a:focus{outline:none;}
ul,ol{list-style:none; padding: 0; margin: 0;}
li {list-style:none;}
h1{text-transform:capitalize!important;font-size: 28px;line-height: 35px;font-weight: 300;margin: 0 0 15px 0;color: #0061af;font-family: 'Titillium Web', sans-serif;}
.mt-5{margin-top: 5px;}
.container {width: 100%;max-width: 100%;padding: 0 30px;}
.breadcrumb{background-color:transparent;margin-bottom:0px;}
.tooltip { z-index: 1151 !important; }
/* ========== Do Not Touch In Css End ========== */

/*--------------Header and Navigation--------------------*/
:root {--screen-height:450px;}

header{box-shadow: 0 0 5px #d6d6d6;background: #fff;position: relative; z-index: 999; width: 100%; padding:0px 0;transition: all 0.3s ease-in 0s;}
header .logo a{display:inline-block; width:90px; padding: 6px 0 0;}
header .user_dropdown{ float: right; position: relative; margin: 25px 0 0 0;}
header .user_dropdown li{position: relative;}
header .user_dropdown li .letters{width: 50px; height: 50px; border-radius: 100%; background: #fff; border: 1px solid #ccc; text-align: center; font-size: 20px; display: inline-block; padding: 10px 0; font-weight: bold;}
header .user_dropdown li ul.dropdown-menu{ background:#fff; padding:0; border-radius:5px; position:absolute; left: auto;right: 0; width:300px; top: 100px!important; z-index: 999!important; margin: 0; border:0px; text-align: left; height: auto; box-shadow: 0 0 15px 1px rgba(69,65,78,.2); transition: all .5s ease-in-out; }
header .user_dropdown li.open ul.dropdown-menu{top: 70px!important; transition: all .5s ease-in-out; }
header .user_dropdown li ul.dropdown-menu li.img_name{position: relative; left:0; top: 0; width: 100%; height: 100%; background-size: cover; content: ''; z-index: 9; margin: 0 0 0 0;}
header .user_dropdown li ul.dropdown-menu li.img_name .bg_block{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; background: #a6ce39; opacity: 1;}
header .user_dropdown li ul.dropdown-menu li .red_bg{ position: relative; display: block; width: 100%; padding: 15px 15px;  border-radius:5px 5px 0 0; z-index: 999; }
header .user_dropdown li ul.dropdown-menu li.img_name .name_email{ float:left; color: #fff; font-size: 20px; padding:3px 0 0 0; width: 100%;}
header .user_dropdown li ul.dropdown-menu li.img_name .name_email a{ color: #fff; font-size: 14px; border-bottom: 1px solid transparent; padding: 0; font-weight: normal; margin: 0px 0 0 0;}
header .user_dropdown li ul.dropdown-menu li.img_name .name_email a:hover,header .user_dropdown li ul.dropdown-menu li.img_name .name_email a:focus{border-bottom: 1px solid #ccc;}
header .user_dropdown li ul.dropdown-menu li.img_name .fa-sort-asc{position: absolute; font-size: 36px; right: 15px; top: -14px; color: #a6ce39;}
header .user_dropdown li ul.dropdown-menu li {float:none; display:block; border-bottom:0px; position:relative; margin: 0 0; width: 100%; }
header .user_dropdown li ul.dropdown-menu li a{ padding:15px; line-height: 14px; text-transform:capitalize; background:none; text-align:left; white-space: normal; color: #000; font-size: 14px; font-weight: normal; height: auto; display: block; clear: both;}
header .user_dropdown li ul.dropdown-menu li span{font-size: 13px;}
header .user_dropdown li ul.dropdown-menu li a i{font-size: 15px; margin-right: 7px;}
header .user_dropdown li ul.dropdown-menu li:hover a{color: #0061af;}
header .user_dropdown li ul.dropdown-menu li.sign_btn{padding: 15px; display: block; border-top: 1px solid #ccc;}
header .user_dropdown li ul.dropdown-menu li a.next_btn { font-family: 'Titillium Web', sans-serif; font-size:14px; line-height: 14px; padding: 7px 10px; text-align: center; background: #0061af; color: #ffffff; box-shadow: none; position: relative; transition:all 0.8s ease 0s; display:inline-block; border: solid #0061af 1px; opacity: 0.8; border-radius: 5px; min-width: none; cursor: pointer;}
header .user_dropdown li ul.dropdown-menu li a.next_btn:hover,header .user_dropdown li ul.dropdown-menu li a.next_btn:focus{ color: #ffffff; opacity: 1;}
/*--------------End Header and Navigation--------------------*/

/*----------Register login--------------------*/
.gradiant_body{margin:0px; padding: 0 0 0; background: linear-gradient(to top left, #8BC34A, #0061af); overflow-x: hidden; height:100%; min-height:100%;background-attachment: fixed; font-size: 13px; }
.all_outer_page {padding: 20px 0;height: var(--screen-height);vertical-align: middle;display: table-cell;position: relative;width: inherit;}
.register_header{ display:block; position: relative;}
.register_header a{width: 150px; display: block; margin: 0 auto;}
.white_form_block{ margin: 20px 0 0 0; background: #f9f9f9; border-radius:10px; box-shadow:0 0 5px rgba(0,0,0,0.3); overflow:hidden;}
.white_form_block .padding_box{padding: 20px;}
.white_form_block .account_block{ padding:10px; margin-top: 20px; background: #0061af; border-radius:0 0 10px 10px; border-top:1px solid #666;}
.white_form_block .account_block p{color: #fff; line-height: 30px;font-size:12px;}
.white_form_block .account_block p a{color:#fff;}
/*----------Register login--------------------*/
/* Loader */
.lds-ripple {display: inline-block; position: relative; width: 64px;height: 64px;}
.lds-ripple div { position: absolute; border: 4px solid #fff;opacity: 1;border-radius: 50%;animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;}
.lds-ripple div:nth-child(2) {animation-delay: -0.5s;}
@keyframes lds-ripple {
  0% { top: 28px; left: 28px; width: 0; height: 0; opacity: 1;}
  100% { top: -1px; left: -1px; width: 58px; height: 58px; opacity: 0;}
}
.loader_new{
	background: rgb(255, 255, 255);
    opacity: 1;
    width: 100%;
    z-index: 9998;
    height: 100%;
    left: 0px;
    top: 0px;
    position: fixed;
}
/* Loader End */
/*------------Form Fields------------------*/
select {-moz-appearance: none!important;-webkit-appearance: none!important;background:#fff url("../images/arrow-down-b.png") no-repeat scroll right top / 31px auto!important; color: #000!important; height: 34px!important; border-radius:4px!important; padding: 3px 35px 2px 5px!important; width: 100%!important; font-family: 'Titillium Web', sans-serif; font-size:14px!important; border:1px solid #999!important;}
select option{ background:#f4f4f4!important; padding:7px!important; color:#555!important; font-size:14px!important; text-transform:capitalize!important; display:block!important; width:100%!important; transition:all 0.2s linear 0s!important; border:0!important; border-bottom:1px solid #ccc!important; font-family: 'Titillium Web', sans-serif;}
.form-group label{line-height:15px; color: #000; font-size: 14px; font-family: 'Titillium Web', sans-serif; font-weight:normal; display: block;}
.form-group label span{color:red;}
.form-group input,.form-group textarea{line-height:15px; color: #000!important; font-size: 14px; font-family: 'Titillium Web', sans-serif; font-weight:normal; border:1px solid #999;}
textarea{height:150px; resize:none;}
.next_btn { font-family: 'Titillium Web', sans-serif; font-size:15px; line-height: 15px; padding: 10px 15px; text-align: center; background: #0061af; color: #ffffff; box-shadow: none; position: relative; transition:all 0.8s ease 0s; display:inline-block; border: solid #0061af 1px; opacity: 0.8; border-radius: 5px; min-width: 100px; cursor: pointer;}
.next_btn:hover,.next_btn:focus{ color: #ffffff; opacity: 1;}
.cancel_btn { font-family: 'Titillium Web', sans-serif; font-size:15px; line-height: 15px; padding: 10px 15px; text-align: center; background: #ff0000; color: #ffffff; box-shadow: none; position: relative; transition:all 0.8s ease 0s; display:inline-block; border: solid #ff0000 1px; opacity: 0.8; border-radius: 5px; min-width: 100px; cursor: pointer;}
.cancel_btn:hover,.cancel_btn:focus{ color: #ffffff; opacity: 1;}
.back_btn { font-family: 'Titillium Web', sans-serif; font-size:15px; line-height: 15px; padding: 10px 15px; text-align: center; background: #a6ce39; color: #000; box-shadow: none; position: relative; transition:all 0.8s ease 0s; display:inline-block; border: solid #a6ce39 1px; opacity: 0.8; border-radius: 5px; min-width: 100px; cursor: pointer;}
.back_btn:hover,.back_btn:focus{ color: #000; opacity: 1;}
input[type="radio"] { visibility:hidden; position:absolute;}
.radio_box {display:inline-block; margin:5px 20px 0 0;}
.radio_box label{ background:url(../images/radio.png) left center no-repeat; font-weight:normal; font-size: 15px; font-family: 'Titillium Web', sans-serif; background-size:15px; padding:5px 5px 5px 20px; text-align:center; display:inline-block; vertical-align:top; margin:0; cursor:pointer; color:#000;}
.radio_box input[type="radio"]:checked + label{background:url(../images/radio_checked.png) left center no-repeat; background-size:15px; color:#007699;}
input[type="checkbox"] { visibility:hidden; position:absolute;}
.check_box {display:block; margin:5px 20px 0 0;}
.check_box label{ background:url(../images/checkbox.png) left center no-repeat; font-weight:normal; font-size: 15px; font-family: 'Titillium Web', sans-serif; background-size:15px; padding:5px 5px 5px 20px; text-align:center; display:inline-block; vertical-align:top; margin:0; cursor:pointer; color:#000;}
.check_box input[type="checkbox"]:checked + label{background:url(../images/checkbox_checked.png) left center no-repeat; background-size:15px; color:#007699;}
.file_upload input[type="text"]{background:url(../images/upload.png) 98% center no-repeat; background-size:20px;}
.file_upload input[type="file"]{opacity: 0; position: absolute; left: 0; top: 22px; z-index: 99; width: 100%; cursor: pointer;}

table .activeyes_box{margin:0 0;}
table .activeyes_box label{height: 20px; width: 45px; top: 0;}
table .activeyes_box label:after{width: 15px; height: 15px; top: 2px; }
table .activeyes_box input[type="checkbox"]:checked + label:after{left :62%;}
.activeyes_box.note_check label{height: 20px; width: 45px; top: 0;}
.activeyes_box.note_check label:after{width: 15px; height: 15px; top: 2px; }
.activeyes_box.note_check input[type="checkbox"]:checked + label:after{left :62%;}
.activeyes_box.note_check span{font-size:13px; line-height:20px;}
.activeyes_box {display:inline-block; margin:5px 20px 0 0;}
.activeyes_box label{ background:#dfe2ea; font-weight:normal; height: 30px; width: 60px; display:inline-block; vertical-align:top; margin:0; cursor:pointer; color:#444; position: relative; top: 5px; border-radius: 20px;}
.activeyes_box label:after{ content: ''; width: 24px; height: 24px; border-radius: 100%; left: 3px; top: 3px; background: #aaa; position: absolute; transition:left 0.3s linear 0s; }
.activeyes_box input[type="checkbox"]:checked + label:after{left :52%; background: #333333; transition:left 0.3s linear 0s; }
#BankDetails_Modal .modal-dialog{width: 800px;}



/*Rating Stars*/
.rate_stars { display: inline-block; border: 0;}
.rate_stars > input {display: none;}
.rate_stars > label {float: right; margin-bottom:0;}
.rate_stars > label:before { display: inline-block;  font-size:20px; padding:0 5px; margin: 0; cursor: pointer; font-family: FontAwesome; content: "\f005 ";}
.rate_stars .half:before { content: "\f089 "; position: absolute; padding-right: 0;}
.rate_stars input:checked ~ label,.rate_stars label:hover, .rate_stars label:hover ~ label { color: #a6ce39;}
.rate_stars input:checked + label:hover, .rate_stars input:checked ~ label:hover,.rate_stars input:checked ~ label:hover ~ label,.rate_stars label:hover ~ input:checked ~ label { color: #A6E72D;} 
/*Rating Stars*/
/*------------Form Fields------------------*/

/* ------- Inner Pages Contener Area Strat ------- */
.add-right{width: 100%; display: block; margin: 0px; text-align: right; padding: 0 15px;}
.addpage_backbtn{ margin-bottom: 20px;}
table{width:100%!important;}
.form-group .add_que{margin-bottom: 10px;}
.error_span {color: red;}
.dataTables_length select {width: auto!important;border: 1px solid #ccc!important;padding-left: 10px!important;}
.dataTables_filter input {line-height: 14px;color: #444!important;font-size: 14px;font-weight: normal;box-shadow: none;border: 1px solid #ccc;height: 34px;padding: 6px 12px;}
table.dataTable.no-footer {border-bottom: 0px!important;}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {background-color: #0061af!important;background: #0061af!important;}
#page-wrapper .panel-default{border: none;}
#page-wrapper .page-header {text-transform: capitalize;font-size: 24px;padding-bottom: 0px;margin: 0px 0 0px;border-bottom: 0px;}
#page-wrapper .pull-right .lgn_btn{margin: 20px 0px 10px 0px;}
.inline_delbtn {display: inline-block;margin-bottom: 3px;}
.inline_delbtn .btn-suucess{background: #0061af;color: #fff;}
#Delete_Modal .modal-dialog{width: 80%;}
#Upload_Modal .modal-dialog{margin: 17% auto;}
#Delete_Modal .modal-dialog{margin: 0% auto;}
.modal-open .modal{overflow-x: hidden;overflow-y: auto;}
.modal{z-index:1050;}
.add_que .form-control{width:53%!important;display: inline-block!important;}
.height_100_box {display: block;height: 100%;min-height: 100%;}
.content-area {display: table;max-width: 100%;padding: 0px;width: 100%;}
#main {padding: 5px 0;height: var(--screen-height);vertical-align: middle;display: table-cell;position: relative;width: inherit;}
.question_wrap h3,.answer_wrap h3{font-size:16px;}
#page-wrapper{background: #fff;}
.que_form form{background: transparent!important;padding: 0px 0px!important;border: 0px!important;box-shadow: none!important;}
.dataTables_wrapper{padding-bottom:15px;}

.draft_btn{position: absolute; right: 30px; z-index: 9; top: 25px;}
.draft_btn button{margin-left: 10px;}
.margin_top{margin-top: 20px;}
.review_block{background: url(../images/background.jpg) center center no-repeat; background-size: cover; height: var(--screen-height);}
.review_block #slider{background:transparent; height: 84%;}
.review_block .que_form, .review_block .que_form form, .review_block .que_form #main1 , .review_block .que_form .slider{ position: relative; width: 100%; display: block; height: 100%;}
.breadcrumb{padding: 8px 0;}
.margin_btn_30{margin-bottom: 30px;}
ng-select > div{border-radius: 4px; border: 1px solid #999!important; height: 34px;}
/* ..... Inner Page Contener Area Strat ..... */

/* ------- Sidebar Area Start ------- */
.sidebar_wrap{background: #eaeaea; position: fixed; top: 100px; left: 0; padding: 0 0px 0 0px; height: 90%; width: 17.6667%; z-index: 99; transition:all 0.4s ease 0s; overflow-y: auto;}
.sidebar_wrap .sidebar_box{background: #eaeaea;border-radius: 0px;padding:0px 0;margin-bottom:1px;box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);}
.sidebar_wrap .sidebar_box .sidebar_box_label span{padding: 5px 0px;color: #0852a5;display: inline-block;font-size: 16px;margin:15px 15px 0px 15px;font-weight: bold;}
.sidebar_wrap .sidebar_box li i {font-size: 18px; width:25px;}
.sidebar_wrap .sidebar_box li i.fa-angle-down{margin: 0; text-align: right;}
.sidebar_wrap .sidebar_box li a {color: #0061af !important;display: block;font-size: 14px;line-height: 15px;list-style: none outside none; padding: 10px 15px; text-decoration: none; text-transform: capitalize; border-left: 3px solid transparent; background: transparent; transition: all .3s ease-in-out;}
.sidebar_wrap .sidebar_box li a span {display: inline-block;float: none;left: 10px;position: relative; color: #000;}
.sidebar_wrap .sidebar_box li.dropdown_menu.collapsed a{border-left: 3px solid transparent; background: transparent;}
.sidebar_wrap .sidebar_box li a:hover,.sidebar_wrap .sidebar_box li a:focus,.sidebar_wrap .sidebar_box li.dropdown_menu a,.sidebar_wrap .sidebar_box li.active a,.sidebar_wrap .sidebar_box li.dropdown_menu.collapsed a:hover,.sidebar_wrap .sidebar_box li.dropdown_menu.collapsed a:focus{background: rgba(0, 0, 0, 0.07); transition: all .3s ease-in-out;}
.sidebar_wrap .sidebar_box li .sub_menu{background: rgba(0,0,0,0.2);}
.sidebar_wrap .sidebar_box li.dropdown_menu .sub_menu li a{padding-left: 40px; background: transparent;}
.sidebar_wrap .sidebar_box li.dropdown_menu .sub_menu li.active a,.sidebar_wrap .sidebar_box li.dropdown_menu .sub_menu li a:hover,.sidebar_wrap .sidebar_box li.dropdown_menu .sub_menu li a:focus{ background: rgba(0,0,0,0.2); transition: all .3s ease-in-out;}
.sidebar_wrap .sidebar_box li.dropdown_menu.collapsed a i.fa-angle-down:before{content:'\f107';}
.sidebar_wrap .sidebar_box li.dropdown_menu a i.fa-angle-down:before{content:'\f106';}
.sidebar_wrap .sidebar_box .in.collapse{height: auto!important;}

.sidebar_wrap.small_menu{ padding-left:30px;width: 80px; transition:all 0.4s ease 0s; padding-top: 20px;}
.sidebar_wrap.small_menu .sidebar_box{background:none; padding: 0; margin: 0; box-shadow: none;}
.sidebar_wrap.small_menu .sidebar_box li a{padding: 10px 0; background: transparent; border:0; width:75%;}
.sidebar_wrap.small_menu .sidebar_box li .sub_menu,.sidebar_wrap.small_menu .sidebar_box li.dropdown_menu .sub_menu li a,.sidebar_wrap.small_menu .sidebar_box li.dropdown_menu.collapsed,.sidebar_wrap.small_menu .sidebar_box li.dropdown_menu.collapsed a:hover,.sidebar_wrap.small_menu .sidebar_box li.dropdown_menu.collapsed a:focus,.sidebar_wrap.small_menu .sidebar_box li.dropdown_menu.collapsed a{border: 0!important; background: transparent!important;}
.sidebar_wrap.small_menu .sidebar_box li a span,.sidebar_wrap.small_menu .sidebar_box .sidebar_box_label{display: none;}
.sidebar_wrap.small_menu .sidebar_box li a:hover,.sidebar_wrap.small_menu .sidebar_box li a:focus,.sidebar_wrap.small_menu .sidebar_box li.active a{color:#000!important;}
.sidebar_wrap.small_menu .sidebar_box li.dropdown_menu .sub_menu li a{padding-left: 0;}
.sidebar_wrap.small_menu .sidebar_box li i{width: 20px; }
.sidebar_wrap.small_menu .sidebar_box li i.fa-angle-down{width: 10px; font-size: 14px; line-height: 25px; }
.menu_right{transition:all 0.4s ease 0s;}
.menu_right.active_right{width: 96.5%; margin-left: 3.5%; transition:all 0.4s ease 0s;}
/* ------- Sidebar Area End ------- */

/* ------- Right Content ------- */
.right_content_block{position: fixed; right: -15px; top: 100px; height: 100%; min-height: 100%; width: 100%;}
.right_content_block .bg_white_block{height:83%;width:100%; overflow-y: auto; position: relative; padding:15px 15px 0 0; background:#fff; }
.right_content_block .height_100{height: 96%;}
.right_content_block .bg_white_block .title_heading{ background: #f5f5f5; color: #9EA7B3; padding-right: 15px;}
.right_content_block .bg_white_block .title_heading .title_text{text-transform: uppercase; color: #9EA7B3; font-family: 'OpenSans-Regular'; font-size: 18px; margin-left:30px; padding: 15px;}
.right_content_block .bg_white_block .title_heading .title_text i{margin-right: 10px; font-size: 18px;}
.right_content_block .bg_white_block .title_heading .alert{padding: 15px 0 15px 15px; margin: 0; text-align:right;display: flex;float: right; }
.right_content_block .bg_white_block .title_heading .alert .close{margin-left:15px;}
.right_content_block .bg_white_block .title_heading .alert i{color: #fff; font-size: 11px; margin-right: 10px; background: #4AC4BC; width: 18px; height: 18px; border-radius: 100%; text-align: center; line-height: 20px;}
.right_content_block .bg_white_block .title_text{ height: 50px;}
.right_content_block .bg_white_block .add_back {border-left: 1px dashed #CCCCCC; height: 50px; padding: 10px 15px; text-align: right;}
.right_content_block .bg_white_block .title_heading .breadcrumb_block{border-top: 1px dashed #CCCCCC; display: block; padding: 10px 0;}
.right_content_block .bg_white_block .title_heading .breadcrumb_block .breadcrumb{ margin: 5px 0 0 0; padding: 0;}
.right_content_block .bg_white_block .title_heading .breadcrumb_block .breadcrumb li{color: #666; font-family: 'OpenSans-Regular'; font-size: 14px;}
.right_content_block .bg_white_block .title_heading .breadcrumb_block .breadcrumb a{color: #9EA7B3;}
header .toggle{top:30px;background: rgba(0, 0, 0, 0.3);border-radius: 3px;color:#fff;cursor: pointer;display: block;height: 30px;line-height: 30px;text-align: center;width: 30px; border: 0; position: relative; right: -20px;}
.style_position.right_content_block{position:relative;}

.right_content_block.front_block{ position: relative; display: block; width: 100%; top:0; right: 0!important;}
.right_content_block.front_block .col-md-10{width: 100%; margin-left: 0; padding: 0;}
.right_content_block.front_block footer{width: 100%; margin-left: 0;}
.right_content_block.front_block .bg_white_block{padding: 0 0 50px 0;}
.right_content_block.front_block .norowmargin{margin: 0;}
.norowmargin .breadcrumb_block{margin-top: 15px;}
.right_content_block.performance_block .bg_white_block{padding-top: 0!important;}
.right_content_block.front_block .dashboard_block{padding: 20px 0!important;}
.right_content_block.front_block .dashboard_block .row{margin:0;}
.user_dashboard .user_feedback_grid { padding: 10px 0px; border-radius: 5px; box-shadow: 0 5px 10px 1px rgba(88, 103, 221, 0.05); text-align: center; border: 1px solid #e3e3e3; margin-bottom: 30px;}
.user_dashboard .user_feedback_grid .user_title { border-bottom: 1px solid #d6d6d6; margin-bottom: 15px; height: 140px;}
.user_dashboard .user_feedback_grid .user_title p strong { display: block;}
.user_dashboard .user_feedback_grid.self_feedback{background: #f4f4f4;}
.user_dashboard .user_feedback_grid .last_day_p{ font-size:14px; font-weight:bold; color:#0061af; margin-top:3px;}
.panel{border: 0!important; box-shadow: none!important;}
.sr_width{width: 7%;}
.active_width{width: 10%;}
.action_width{width: 10%;}
.qt_width{width: 10%;}
.et_width{width: 12%;}
.all_action{width:15%;}
#slider .que_section{margin-bottom:20px;}
.dataTables_wrapper .dt-buttons {float:right!important; margin-left:15px;}
.dt-buttons button.dt-button, .dt-buttons div.dt-button,.dt-buttons a.dt-button{ background: none!important; padding: 0!important; margin: 0 0 0 10px!important; font-size: 20px!important; color:#191919!important; width: 30px; border: 0!important; }
.dt-buttons .buttons-print::before,.dt-buttons .buttons-excel::before{color:#191919!important; }
.box_qa{height: auto; border: 1px solid #999; background: #fff;; display: block; padding: 15px; margin: 0 0 30px;float:left;width: 100%;}
.box_qa .que_section .que_title{margin: 0 0 10px; display: block; color: #a6ce39;}
.box_qa .que_section .que_name{ height: auto; display: block; overflow-y: auto; margin-bottom: 10px;}
.margin_bottom{margin-bottom: 30px;}
.owl-carousel .owl-item .owl-item{width:100%;}
.owl-carousel .owl-nav div.owl-prev{ background:url(../images/prev_small.png) left top no-repeat; width:32px; height:32px; display:inline-block; position:absolute; left:15px; bottom:35px; background-size:100%;} 
.owl-carousel .owl-nav div.owl-next{ background:url(../images/next_small.png) left top no-repeat; width:32px; height:32px; display:inline-block;  position:absolute; right:15px; bottom:35px; background-size:100%;} 
.last_btn_class{height: 70px;}

.box_qa .rating_section .ans_section{text-align: center;}
.box_qa .rating_section .ans_section span{display: block;}
.box_qa .rating_section .ans_section strong{font-size: 20px;}

.width_auto{width:auto;}
.tab_padding{padding:0 15px;}
.tab_content_block .nav-tabs{margin-bottom: 20px; border: 0;}
.tab_content_block .nav-tabs li{display: inline-block; float: none;}
.tab_content_block .nav-tabs li a{ padding:10px 10px; border-radius:4px; line-height: 13px; text-transform:capitalize; background:#0061af; text-align:center; white-space: normal; color: #fff; font-size: 14px; font-weight: normal; height: auto; display: block; clear: both; border: 1px solid #ccc;}
.tab_content_block .nav-tabs li a:hover,.tab_content_block .nav-tabs li.active a {background:#fff; color: #0061af; border: 1px solid #ccc;}
/* ------- Right Content ------- */

/*--------------Loader--------------------*/
.lds-ripple {display: inline-block; position: relative; width: 64px;height: 64px;}
.lds-ripple div { position: absolute; border: 4px solid #888;opacity: 1;border-radius: 50%;animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;}
.lds-ripple div:nth-child(2) {animation-delay: -0.5s;}
@keyframes lds-ripple {
  0% { top: 28px; left: 28px; width: 0; height: 0; opacity: 1;}
  100% { top: -1px; left: -1px; width: 58px; height: 58px; opacity: 0;}
}
/*--------------End Loader--------------------*/

/* ------- Footer ------- */
footer{background:#f2f2f2; padding:14px 0; font-size:15px; font-weight: 400; line-height: 15px; color:#111111; border-top:3px solid #a6ce39; position: fixed;bottom: 0;left: auto;z-index: 100;right: 0;width: 83%;}
.social_links{display: inline-block;}
.social_links li{display: inline-block; color: #fff; font-size: 14px; padding: 0 7px;}
.social_links li a{color: #888888;}
.social_links li a:hover{color: #0061AF;}
footer.register_footer{ border:none;background:none; padding:10px; font-size:12px; font-weight: normal; line-height: 20px; color:#fff; position: relative; bottom:0; right: 0; z-index: 999; transition:all 0.4s ease 0s; width: 100%;}
footer.register_footer a{color:#fff; }
footer.register_footer a:hover{color:#111; }
#colorPickerFrameCanvas{display:none!important;}
footer.footer_sidebaractive{width: 95%!important;}
/* ------- End Footer ------- */

/* ------- Pages Contener Area End ------- */
@media (min-width:2000px){	
	.inner_banner::before,.inner_banner::after{bottom: -80px; height: 140px;}	
	.inner_banner .innerbanner_text{ padding: 4% 0 0 0;}

}
@media (min-width: 1920px){
footer.footer_sidebaractive {width: 96% !important;}
}
@media (max-width:1500px) {
	header.header_fixed .screen_menu .address_block{font-size: 25px;}
	.inner_banner .innerbanner_text{padding: 7% 0 0 0;}
	.user_dashboard .user_feedback_grid .last_day_p{line-height:18px;}
	.user_dashboard .user_feedback_grid .user_title {height: 170px;}
}
@media (max-width:1300px){
    header .header_address .address{ padding: 0 15px 0 0; margin: 0 15px 0 0;}
}
@media (max-width:1200px){
	.inner_banner .innerbanner_text{padding: 8% 0 0 0;}
footer.footer_sidebaractive {width: 94% !important;}
	.sidebar_wrap{padding: 0 8px 0 15px;}
	.right_content_block .bg_white_block .title_heading .title_text{font-size: 16px;}
}
@media (max-width:991px){
	header .header_address .address{ padding: 0 10px 0 0; margin: 0 10px 0 0;}
    header .header_address .address span,header .header_address .address span strong{font-size: 15px;}
	.inline_delbtn{margin:2px 0px;}
	.inner_banner{height: 200px;}
	.inner_banner::before{left: -5px; width: 52%}
	.inner_banner::after{right: -5px; width: 52%}
	.inner_banner .innerbanner_text span{font-size: 17px;}
	.inner_banner .innerbanner_text{font-size: 30px;}
}
@media (min-width:768px) and (max-width:991px){
	header .header_address .address span, header .header_address .address span strong,footer .header_address .address span, footer .header_address .address span strong {font-size: 13px;}
	header .header_address .address ,footer .header_address .address{padding: 0 5px 0 0;margin: 0 5px 0 0;}		
	footer .footer-left{font-size:13px;}
	.container {max-width: 100%;}
	label{font-size:13px!important;}
	header .logo a{width:55px;margin: 0px -10px;}
	.footer_contact .cntcticons p{font-size:14px;}
	header .header_address{padding: 15px 0 0px 0px;float: none;text-align: center;}
}
@media (min-width:768px) and (max-width:1080px){
	.inner_banner .innerbanner_text{padding:8% 0 0 0;}
footer.footer_sidebaractive {width: 93.7% !important;}
	header .logo a{width:55px;margin: 0px -10px;}
	.footer_contact .cntcticons p{font-size:14px;}
	header .header_address{padding: 15px 0 0px 0px;float: none;text-align: center;}
	label{font-size:13px!important;}
	header .header_address .address span, header .header_address .address span strong,footer .header_address .address span, footer .header_address .address span strong {text-align: left;font-size: 13px;}
	header .header_address .address ,footer .header_address .address{padding: 0 5px 0 0;margin: 0 5px 0 0;}	
   .sidebar_wrap.small_menu{width: 60px!important;}
   .sidebar_wrap{width: 19%!important;padding: 0 8px 0 10px!important;}	
   .right_content_block .bg_white_block .title_heading .title_text{padding: 15px 0px;}
   .right_content_block .bg_white_block .title_heading .title_text{font-size: 16px;}
}
@media (min-width:768px) and (max-width:1024px){
	.inner_banner .innerbanner_text{padding:8% 0 0 0;}	
	.right_content_block footer{width:93%!important;}
    .sidebar_wrap{padding: 0 8px 0 5px!important;width: 20%!important;}
	.sidebar_wrap.small_menu .sidebar_box li a {padding: 10px 10px 10px 0px;}
	.right_content_block .bg_white_block .title_heading .alert{padding: 15px 0px 15px 10px;}
  .right_content_block .bg_white_block .title_heading .title_text{font-size: 12px;}
}
@media (max-width:767px){
	footer{line-height:35px;}
	.logo{text-align:center;}
	.inner_content label,.inner_content label.pull-right{text-align: left!important;float: left !important;}
    header .header_address,header .social_links{display: none;}
    header.header_fixed{position: relative; background: #fff; border: 0;}
    footer .text-left,footer .text-right{text-align: center; line-height: 22px;}
	footer .social_links{margin-top: 10px;}
	#page-wrapper .panel-default label{float:none;}
	label.pull-right{text-align:left!important;float:left!important;}
	footer .footer_top {padding: 15px 0px 1px 0px;text-align: center;}
	footer .footer_top .header_address {display: block;border-bottom: 1px solid #ddd;}
	header .header_address {padding: 15px 0 15px 0;font-size: 12px;text-align: center;float:none;}
	header .header_address .address,footer .header_address .address {padding: 0 10px 0 0;margin: 0 10px 0 0;}
	header .header_address .address span, header .header_address .address span strong,footer .header_address .address span, footer .header_address .address span strong{font-size:12px;}
	footer .header_address .address span, footer .header_address .address span strong{text-align:left;}
}
@media (max-width:768px){	
header .header_address{text-align:left;}
.breadcrumb_block .text-right{text-align:left !important;}
	.inner_content .inner_block .que_img{margin: -26px auto 0px auto;display: table;}
	.inner_content .inner_block .que_img span{display: table-cell;position:relative;top:0;left:0;}
	.separator.text-center {margin: 0 auto 35px;}
	.inner_content .inner_block{text-align:center;}
	.sidebar_wrap.small_menu{width: 65px;}
	.sidebar_wrap {padding: 0 5px 0 10px !important;}
	.sidebar_wrap {padding: 0 5px 0 10px;}
	header .toggle{display: none;}
.right_content_block footer{width:93%!important;}
footer.footer_fixed{line-height: 20px;text-align: center;position: relative!important;width: 100% !important;}
footer.footer_fixed .text-left{text-align: center;}
footer.footer_fixed .text-right{text-align: center;}
footer{width: 100%!important;position: relative!important;}
footer .text-left,footer .text-right{text-align: center;padding: 5px;}
    footer.footer_sidebaractive{width: 100%!important;}
	.inner_content .inner_block .que_block,.inner_content .inner_block .ans_block{padding: 10px 20px;}
}
@media (max-width:740px){
	/* footer.footer_fixed{position:relative;} */
}
  @media (max-width: 667px) {
  .all_outer_page{display: inline;}
  .sidebar_wrap.small_menu{width: 52px;}
  footer{width: 100%;position: relative;}
  .sidebar_wrap{padding:0px 5px;}
  .right_content_block .bg_white_block .title_heading .breadcrumb_block .next_btn.pull-right{float: left!important;margin-top: 10px;}
}
@media (max-width:640px){
	.inner_banner .innerbanner_text {font-size: 18px;}
	.inner_banner .innerbanner_text{line-height:30px;}
}
@media (max-width:600px){	
	footer .header_address .address{border-right:0px;}
}
@media (max-width:500px){
	.inner_banner img{width: auto; height: 100%;}
	.sidebar_wrap.small_menu{padding: 0 0px 0 5px;width: 48px;}
	.sidebar_wrap.small_menu{width: 47px!important;}
    .sidebar_wrap{padding: 0 0 0 5px!important;}
}
@media (max-width:400px){
	.inner_banner .innerbanner_text{ padding: 10% 0 0 0;}
	footer .header_address .address{width:200px;}
	footer .header_address .address{padding:0px;margin:0px;}
}