@charset "utf-8";
/* CSS Document */
/* ========== Do Not Touch In Css Strat ========== */
html{height:100%; min-height:100%;}
body{margin:0px; padding: 0; background:#fff;font-family: 'Titillium Web', sans-serif;overflow-x: hidden; height:auto;}
p{margin:0px; padding:0px 0 0 0; line-height:26px; color: #2e2d31; font-size: 16px;font-family: 'Titillium Web', sans-serif;}
p.padding_15{padding-bottom:15px;}
p.padding_30{padding-bottom:35px;}
.no_padding{padding:0px;}
.clear {clear:both;}
a {text-decoration:none; color:#191919;}
a:hover, a.selected {text-decoration:none; color:#0085AD;}
a:focus{outline:none;}
ul {list-style:none; padding: 0; margin: 0;}
li {list-style:none;}
h1{font-size: 35px;line-height: 35px;font-weight: 300;margin: 0 0 15px 0;color: #222;font-family: 'Titillium Web', sans-serif;text-transform: uppercase;}
.mt-5{margin-top: 5px;}
/* label{margin-top: 5px;float:right}  */
/* ========== Do Not Touch In Css End ========== */

/*--------------Header and Navigation--------------------*/
/* .container{ width:100%; max-width:100%; padding:0 30px;} */
header{ position: relative; z-index: 999; width: 100%; padding:0px 0;transition: all 0.3s ease-in 0s;}
.social_links{display: inline-block;}
.social_links li{display: inline-block; color: #fff; font-size: 14px; padding: 0 7px;}
.social_links li a{color: #888888;}
.social_links li a:hover{color: #0061AF;}
header .logo a{display:inline-block; width:90px; padding: 6px 0 0;}
header .header_address{float: right; padding: 30px 0 22px 0;}
header .header_address .address,footer .header_address .address{ display: inline-block; position: relative; border-right: 1px solid #ddd; padding: 0 35px 0 0; margin: 0 35px 0 0;}
header .header_address .address:last-child,footer .header_address .address:last-child{margin: 0; border: 0;}
header .header_address .address i,footer .header_address .address i{float: left; position: relative; font-size: 30px; margin-right: 10px; color:#0061af; }
header .header_address .address span,footer .header_address .address span{ position: relative; line-height: 20px; color: #777777; font-size: 17px; margin-bottom: 3px; font-weight: 500; float: left;}
header .header_address .address span strong,footer .header_address .address span strong { font-weight: 500; color: #111111; font-size: 17px; margin-bottom: 3px; display: inline-block;}
header .header_address .address span a,footer .header_address .address span a{color: #777777;}
header .header_address .address span a:hover,footer .header_address .address span a:hover{color: #0061AF;}
footer .footer_top .header_address{display:none;}
/* header.header_fixed .logo a{width:65px;} */
/* header.header_fixed .menu,header.header_fixed .top_header,header.header_fixed .header_address{ display: none;} */
/* header.header_fixed{position: fixed; background:rgba(242,242,242,0.95); transition:all 0.3s ease-in 0s; border-bottom: 2px solid #eee;} */
form .hr_form_wrapper .back_btn{color:#fff!important; text-transform:uppercase; font-size:18px; padding:10px 20px!important;  font-weight:400; background: #0061AF; line-height: 18px;margin:32px 0px 0px 0px;}
/* header.header_fixed .back_btn{margin:18px 0px;} */
header .user_dropdown{ float: right; position: relative; margin: 25px 0 0 0;}
header .user_dropdown li{position: relative;}
header .user_dropdown li .letters{width: 50px; height: 50px; border-radius: 100%; background: #fff; border: 1px solid #ccc; text-align: center; font-size: 20px; display: inline-block; padding: 10px 0; font-weight: bold;}
header .user_dropdown li ul.dropdown-menu{ background:#fff; padding:0; border-radius:5px; position:absolute; left: auto;right: 0; width:300px; top: 100px!important; z-index: 999!important; margin: 0; border:0px; text-align: left; height: auto; box-shadow: 0 0 15px 1px rgba(69,65,78,.2); transition: all .5s ease-in-out; }
header .user_dropdown li.open ul.dropdown-menu{top: 70px!important; transition: all .5s ease-in-out; }
header .user_dropdown li ul.dropdown-menu li.img_name{position: relative; left:0; top: 0; width: 100%; height: 100%; background: url(../images/user_bg.jpg) center center no-repeat; background-size: cover; content: ''; z-index: 9; margin: 0 0 10px 0;}
header .user_dropdown li ul.dropdown-menu li.img_name .bg_block{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; background: #a6ce39; opacity: 0.8;}
header .user_dropdown li ul.dropdown-menu li .red_bg{ position: relative; display: block; width: 100%; padding: 25px 15px;  border-radius:5px 5px 0 0; z-index: 999; }
header .user_dropdown li ul.dropdown-menu li.img_name img{float: left; width: 65px;}
header .user_dropdown li ul.dropdown-menu li.img_name .name_email{ float:left; color: #fff; font-size: 16px; margin-left: 15px; padding:3px 0 0 0; width: 70%;}
header .user_dropdown li ul.dropdown-menu li.img_name .name_email a{ color: #fff; font-size: 12px; border-bottom: 1px solid transparent; padding: 0; font-weight: normal; margin: 5px 0 0 0;}
header .user_dropdown li ul.dropdown-menu li.img_name .name_email a:hover,header .user_dropdown li ul.dropdown-menu li.img_name .name_email a:focus{border-bottom: 1px solid #ccc;}
header .user_dropdown li ul.dropdown-menu li.img_name .name_email{ float:left; color: #fff; font-size: 16px; margin-left: 15px; padding: 3px 0 0 0; width: 70%;}
header .user_dropdown li ul.dropdown-menu li.img_name .name_email span{ color: #fff; font-size: 12px; border-bottom: 1px solid transparent; padding: 0; font-weight: normal; margin: 5px 0 0 0;}
header .user_dropdown li ul.dropdown-menu li.img_name .fa-sort-asc{position: absolute; font-size: 36px; right: 15px; top: -14px; color: #a6ce39;}
header .user_dropdown li ul.dropdown-menu li {float:none; display:block; border-bottom:0px; position:relative; margin: 0 0; width: 100%; }
header .user_dropdown li ul.dropdown-menu li a{ padding:15px; line-height: 13px; text-transform:capitalize; background:none; text-align:left; white-space: normal; color: #6f727d; font-size: 13px; font-weight: normal; height: auto; display: block; clear: both;}
header .user_dropdown li ul.dropdown-menu li a i{font-size: 13px; margin-right: 7px;}
header .user_dropdown li ul.dropdown-menu li:hover a{color: #a6ce39;}
header .user_dropdown li ul.dropdown-menu li.sign_btn{padding: 15px; border-top: 1px solid #ebedf2; }
header .user_dropdown li ul.dropdown-menu li a.next_btn{display: inline-block;font-size: 13px;padding: 10px;text-align: center;background: #a6ce39;border-radius: 4px;color: #fff;border: 0;line-height: 13px;min-width: 100px;opacity: 0.85;transition: all .3s ease-in-out;box-shadow: 0 5px 10px 2px rgba(88,103,221,.19);}
header .user_dropdown li ul.dropdown-menu li a.next_btn:hover{opacity: 1;background: #a6ce39;cursor: pointer;}
.navbar-default {background-color: transparent;border-color: transparent;margin-top: 25px;margin-bottom: 0px;}
.navbar-default .navbar-nav>li>a{font-size:18px;text-transform:uppercase;color: #fff;background: #0061af;}
.navbar-nav>li{margin-right:10px;}
.navbar-default .navbar-nav>.dropdown>a .caret {border-top-color: #fff;border-bottom-color: #fff;}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {color: #fff;background: #0061af;}
.navbar-default .navbar-nav>.dropdown>a:hover .caret, .navbar-default .navbar-nav>.dropdown>a:focus .caret {border-top-color: #fff;border-bottom-color: #fff;}
.dropdown-menu{min-width:100%;}
.dropdown-menu>li>a{color: #111;font-size: 16px;text-transform: uppercase;}
.navbar .navbar-nav {display: inline-block;float: none;}
.navbar .navbar-collapse {text-align: center;}
.all_outer_page {padding: 20px 0;height: var(--screen-height);vertical-align: middle;display: table-cell;position: relative;width: inherit;}
.white_form_block{ margin: 20px 0 0 0; background: #f9f9f9; border-radius:10px; box-shadow:0 0 5px rgba(0,0,0,0.3); overflow:hidden;}
.white_form_block .padding_box{padding: 20px;}
.white_form_block .account_block{ padding:20px; margin-top: 20px; background: #0061af; border-radius:0 0 10px 10px; border-top:1px solid #666;}
.white_form_block .account_block p{color: #fff; line-height: 30px;}

button[disabled]{cursor: no-drop;opacity: 0.85!important;}



.lgn_btn{margin-top:20px;background: #0061af; border-radius:4px; color: #fff; font-size: 13px; border: 0; padding: 10px; line-height: 13px; min-width: 100px; opacity: 0.85; transition: all .3s ease-in-out; text-align: center; display: inline-block;}
.lgn_btn:hover,.lgn_btn:focus{opacity: 1; transition: all .3s ease-in-out; box-shadow: 0 5px 10px 2px rgba(88,103,221,.15); color: #fff;}
.rgstr_btn{background: #fff; border-radius:4px; color: #0061af; font-size: 13px; border: 0; padding: 10px; line-height: 13px; min-width: 100px; opacity: 0.85; transition: all .3s ease-in-out; text-align: center;  display: inline-block;}
.rgstr_btn:hover,.rgstr_btn:focus{opacity: 1; transition: all .3s ease-in-out; box-shadow: 0 5px 10px 2px rgba(88,103,221,.15); color: #0061af;}

/*--------------End Header and Navigation--------------------*/

/* ------- Inner Pages Contener Area Strat ------- */
.table-list{padding:25px 0px!important;}
.table-list .page_content{display: table;max-width: 100%;padding: 0px;width: 100%;}
.table-list #page-wrapper{padding: 25px 0;height: var(--screen-height);vertical-align: middle;display: table-cell;position: relative;width: inherit;}
.inner_content{background: #f9f9f9;padding: 0px 0px 0px 0px;overflow: hidden;width: 100%;position: relative;}
select {-moz-appearance: none!important;-webkit-appearance: none!important;background:#fff url("../images/arrow-down-b.png") no-repeat scroll right top / 31px auto!important; border: 1px solid #ccc!important; color: #555!important; height: 34px!important; border-radius:4px!important; padding: 3px 35px 2px 5px!important; width: 100%!important; font-family: 'Titillium Web', sans-serif; font-size:14px!important;}
select option{ background:#f4f4f4!important; padding:7px!important; color:#555!important; font-size:14px!important; text-transform:capitalize!important; display:block!important; width:100%!important; transition:all 0.2s linear 0s!important; border:0!important; border-bottom:1px solid #ccc!important; font-family: 'Titillium Web', sans-serif;}
.form-group label{line-height:15px; color: #2d5c8a; font-size: 14px; font-family: 'Titillium Web', sans-serif; font-weight:normal;}
.form-group label span{color:red;}
.form-group textarea{height: 80px;}
.form-group input,.form-group textarea{line-height:15px; color: #555!important; font-size: 14px; font-family: 'Titillium Web', sans-serif; font-weight:normal;}
textarea{height:150px; resize:none;}
.next_btn { font-family: 'Titillium Web', sans-serif; font-size:16px; padding: 15px 15px; text-align: left; background: #0085ad; background:linear-gradient(to right, #0085ad 50%, #007699 50%) repeat scroll left bottom / 200% 100%; background-size: 200% 100%; background-position: left bottom; color: #ffffff;  box-shadow: none; position: relative; transition:all 0.8s ease 0s; display:inline-block; border-right: solid #007699 53px; border-width: 0 53px 0 0;}
.next_btn:hover,.next_btn:focus{background-position: right bottom; color: #ffffff; }
input[type="radio"] { visibility:hidden; position:absolute;}
.radio_box {display:inline-block; margin:5px 20px 0 0;}
.radio_box label{ background:url(../images/radio.png) left center no-repeat; font-weight:normal; font-size: 15px; font-family: 'Titillium Web', sans-serif; background-size:15px; padding:5px 5px 5px 20px; text-align:center; display:inline-block; vertical-align:top; margin:0; cursor:pointer; color:#000;}
.radio_box input[type="radio"]:checked + label{background:url(../images/radio_checked.png) left center no-repeat; background-size:15px; color:#007699;}
input[type="checkbox"] { visibility:hidden; position:absolute;}
.check_box {display:block; margin:5px 20px 0 0;}
.check_box label{ background:url(../images/checkbox.png) left center no-repeat; font-weight:normal; font-size: 15px; font-family: 'Titillium Web', sans-serif; background-size:15px; padding:5px 5px 5px 20px; text-align:center; display:inline-block; vertical-align:top; margin:0; cursor:pointer; color:#000;}
.check_box input[type="checkbox"]:checked + label{background:url(../images/checkbox_checked.png) left center no-repeat; background-size:15px; color:#007699;}
.inner_content .inner_block{padding: 0px 0px 0px 0px;margin-bottom: 30px;background-color: #fff;border: 1px solid #cecece;cursor: pointer;position: relative;transition-duration: .2s;transition-property: border,box-shadow;float: left;width: 100%;}
.inner_content .inner_block:hover{border-color: #0061AF;box-shadow: 0 0 0 1px #0061AF;}
.read_more{margin-top:10px;padding:9px 15px 10px 15px; font-size: 16px; display: inline-block; line-height: 16px; position: relative; background: transparent; border:2px solid #fff; color: #fff; transition:all 0.3s ease-in 0s; min-width: 100px; text-align: center; font-weight: 500; border-radius:15px;}
.separator { position: relative; height: 15px; width: 100px; margin: 0 0 15px; text-align: center;}
.separator.text-center{margin: 0 auto 15px;}
.separator .dott { position: relative; width: 6px; height: 6px; top: -6px; border-radius: 50%; display: inline-block; background: #0061af; margin: 0 3px;}
.separator:before { position: absolute; content: ''; left: 0px; top: 6px; width: 20px; height: 1px; background: #0061af;}
.separator:after { position: absolute; content: ''; right: 0px; top: 6px; width: 20px; height: 1px; background: #0061af;}
/* .inner_content .inner_block .que_img img{width: 50px;height: 50px;position: absolute;top: 8px;left: -25px;} */
.inner_content .inner_block .que_img span{position: absolute;color: #fff;font-size: 20px;background: #0061af;border: 2px solid #a2cb3c;width: 52px;height: 52px;text-align: center;border-radius: 30px;line-height: 48px;top: 8px;left: -26px;}
.inner_content .inner_block .ans_block{padding: 20px 50px;border-top:1px solid #cecece;}
/* .inner_content .inner_block .ans_block .answer_block{float: left;width: 95%;} */
.inner_content .inner_block .ans_block .answer_header{margin-bottom: 15px;}
.inner_content .inner_block .ans_block .answer_header img{width: 40px;height: 40px;display: inline-block;margin-right: 5px;}
.inner_content .inner_block .ans_block .answer_header span{color: #111;font-size: 22px;text-transform: capitalize;vertical-align: middle;}
.inner_content .inner_block .col-md-12,.inner_content .inner_block .col-sm-12,.inner_content .inner_block .col-xs-12{padding:0px;}
.inner_content .inner_block .que_block{padding: 20px 50px;}
.inner_content .inner_block .que_block ul {margin-top: 10px;}
.inner_content .inner_block .que_block ul li{color: #777;font-size: 16px;line-height: 24px;}
.inner_content .inner_block .que_block h3{font-size:20px;margin: 0px 0px 0px 0px;line-height: 28px;font-family: 'Titillium Web', sans-serif;color: #111;}
.inner_content .consent_block p{color: #111;text-align: center;font-size: 22px;margin: 10px 0px;line-height: 30px;}
.inner_content .thankyou_block h3{font-family: 'Titillium Web', sans-serif;font-size: 42px;text-align: center;color: #0061af;font-weight: bold;letter-spacing: 1px;}
.inner_content .thankyou_block span{text-shadow:none;color: #a6ce39;display: block;margin-top: 10px;font-size: 24px;}
.inner_content .thankyou_block img{margin: 0 auto;width: 160px;height: 160px;}
.form-btn {text-align: center;}
.error_span {color: red;}
.error_span_radio {color: red;}
.answer_block label{float: left;}
.gradiant_body{margin:0px; padding: 0 0 0; background: linear-gradient(to top left, #8BC34A, #0061af); overflow-x: hidden; height:100%; min-height:100%;background-attachment: fixed; font-size: 13px; }
/* ..... Inner Page Contener Area Strat ..... */

/* ------- Footer ------- */
footer.footer_fixed{position: fixed; bottom: 0; left: 0;z-index:100;}
footer{ background:#f2f2f2; padding:14px 0; font-size:15px; font-weight: 400; line-height: 15px; width:100%; color:#111111; border-top:10px solid #a6ce39; }
.go_top { position:fixed; bottom: 50px; right:20px; padding:0px; display:none; cursor: pointer; z-index: 999; height: 45px; width: 45px; text-align: center; background: rgba(0,0,0,0.5); color: #fff; font-size: 25px; line-height: 45px; border-radius: 5px; transition: all .3s ease-in-out;}
.go_top:hover{background: rgba(0,0,0,0.8); transition: all .3s ease-in-out;}
footer.register_footer{ border:none;background:none; padding:10px; font-size:12px; font-weight: normal; line-height: 20px; color:#fff; position: relative; bottom:0; right: 0; z-index: 999; transition:all 0.4s ease 0s; width: 100%;}
footer.register_footer a{color:#fff; }
footer.register_footer a:hover{color:#111; }
#colorPickerFrameCanvas{display:none!important;}
/* ------- End Footer ------- */

/*-------------Inner Banner----------------------*/
.inner_banner{ display: block; height: 250px; overflow: hidden; background: -moz-linear-gradient(0deg,#0ccebc 0%,#315db7 100%); background: -webkit-linear-gradient(0deg,#0ccebc 0%,#315db7 100%); background: -ms-linear-gradient(0deg,#0ccebc 0%,#315db7 100%); position: relative;}
.inner_banner::before { background: #f9f9f9; bottom: -50px; content: ""; height: 100px; left: -10px; position: absolute; transform: rotate(5deg); width: 51%; z-index: 99;}
.inner_banner::after { background: #f9f9f9; bottom: -50px; content: ""; height: 100px; right: -10px; position: absolute; transform: rotate(-5deg); width: 51%;  z-index: 99;}
.inner_banner img{width: 100%; display: block; opacity: 0.15;}
.inner_banner .innerbanner_text{padding: 5% 0 0 0; text-align: center; position: absolute; top:0; left: 0; width: 100%; color: #fff; font-size: 40px; font-weight: 600; text-transform: capitalize;}
.inner_banner .innerbanner_text span{display: block; color: #fff; font-size: 20px; text-transform: capitalize; font-weight: normal;}
.inner_banner .innerbanner_text span a,.inner_banner .innerbanner_text span i{color: #fff;font-style: normal;}
/*-------------End Inner Banner----------------------*/

/* ------- Pages Contener Area End ------- */

/*-------- admin css ------------*/
.inner_content .question_wrap h3, .inner_content .answer_wrap h3{color: #222;font-family: 'Titillium Web', sans-serif;text-transform: uppercase;}
.inner_content .question_wrap textarea{height: 150px;}
.dataTables_length select {width: auto!important;border: 1px solid #ccc!important;padding-left: 10px!important;}
.dataTables_filter input {line-height: 14px;color: #444!important;font-size: 14px;font-weight: normal;box-shadow: none;border: 1px solid #ccc;height: 34px;padding: 6px 12px;}
table.dataTable.no-footer {border-bottom: 0px!important;}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {background-color: #0061af!important;background: #0061af!important;}
#page-wrapper .panel-default{box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);border: none;}
#page-wrapper .page-header {text-transform: capitalize;font-size: 24px;padding-bottom: 0px;margin: 20px 0 10px;border-bottom: 0px;}
#page-wrapper .pull-right .lgn_btn{margin: 20px 0px 10px 0px;}
.inline_delbtn {display: inline-block;}
.inline_delbtn .btn-suucess{background: #0061af;color: #fff;}
#Delete_Modal .modal-dialog{width: 80%;}
.add_que .form-control{width:43%!important;display: inline-block!important;}
.lgn_btn{margin-top: 10px;}
.height_100_box {display: block;height: 100%;min-height: 100%;}
.content-area {display: table;max-width: 100%;padding: 0px;width: 100%;}
#main {padding: 25px 0;height: var(--screen-height);vertical-align: middle;display: table-cell;position: relative;width: inherit;}
.file_upload input[type="text"]{background:url(../images/upload.png) 98% center no-repeat; background-size:20px;}
.file_upload input[type="file"]{opacity: 0; position: absolute; left: 0; top: 22px; z-index: 99; width: 100%; cursor: pointer;}
.inner_content .addpage_backbtn{position: absolute;right: 15px;top:-9px;}
/*----------- end admin css ------------*/

@media (min-width:2000px){	
	.inner_banner::before,.inner_banner::after{bottom: -80px; height: 140px;}	
	.inner_banner .innerbanner_text{ padding: 4% 0 0 0;}
}
@media (max-width:1500px) {
	/* header.header_fixed .screen_menu .address_block{font-size: 25px;} */
	.inner_banner .innerbanner_text{padding: 7% 0 0 0;}
}
@media (max-width:1300px){
    header .header_address .address,footer .header_address .address{ padding: 0 15px 0 0; margin: 0 15px 0 0;}
}
@media (max-width:1200px){
	.inner_banner .innerbanner_text{padding: 8% 0 0 0;}
}
@media (max-width:991px){
	header .header_address .address,footer .header_address .address{ padding: 0 10px 0 0; margin: 0 10px 0 0;}
    header .header_address .address span,header .header_address .address span strong,footer .header_address .address span,footer .header_address .address span strong{font-size: 15px;}
	.inline_delbtn{margin:2px 0px;}
	.inner_banner{height: 200px;}
	.inner_banner::before{left: -5px; width: 52%}
	.inner_banner::after{right: -5px; width: 52%}
	.inner_banner .innerbanner_text span{font-size: 17px;}
	.inner_banner .innerbanner_text{font-size: 30px;}
}
@media (min-width:768px) and (max-width:991px){
	header .header_address .address span, header .header_address .address span strong,footer .header_address .address span, footer .header_address .address span strong {font-size: 13px;}
	header .header_address .address ,footer .header_address .address{padding: 0 5px 0 0;margin: 0 5px 0 0;}		
	footer .footer-left{font-size:13px;}
	.container {max-width: 100%;}
	label{font-size:12px;}
	.inner_content label.atp_title,.inner_content label.pull-right{text-align:left!important;float: left !important;}	
}
@media (min-width:768px) and (max-width:1024px){
	.inner_banner .innerbanner_text{padding:8% 0 0 0;}
}
@media (max-width:767px){
    /* header .header_address,header .social_links{display: none;} */
    /* header.header_fixed{position: relative; background: #fff; border: 0;} */
    footer .text-left,footer .text-right{text-align: center; line-height: 22px;font-size:12px;}
	footer .social_links{margin-top: 10px;}
	#page-wrapper .panel-default label{float:none;}
	label{float:left;}
	h1{font-size:22px;}
	header .logo a{width:110px;}
	footer{line-height:35px;}
	footer.footer_fixed{position:relative;}
	header .logo{text-align:center;}
	header .header_address{display:none;}
	footer .footer_top .header_address{display:block;border-bottom: 1px solid #ddd;}
	footer .footer_top{padding: 15px 0px;text-align:center;}
	table.dataTable > tbody > tr.child ul.dtr-details{width:100%;}
	header .header_address {padding: 15px 0 15px 0;font-size: 12px;text-align: center;float:none;}
	header .header_address .address,footer .header_address .address {padding: 0 10px 0 0;margin: 0 10px 0 0;}
	header .header_address .address span, header .header_address .address span strong,footer .header_address .address span, footer .header_address .address span strong{font-size:12px;}
	footer .header_address .address span, footer .header_address .address span strong{text-align:left;}
	.inner_content label.atp_title.mt-5{margin-right:20px;}
	.inner_content label.atp_title,.inner_content label.pull-right{text-align:left!important;float: left !important;}	
	.table-list .page_content{display: block;max-width: 100%;padding: 0px;width: 100%;}
	.table-list #page-wrapper{padding: 25px 0;height: auto;display:block;position: relative;width: 100%;}
}
@media (max-width:768px){	
	.inner_content .inner_block .que_img{margin: -26px auto 0px auto;display: table;}
	.inner_content .inner_block .que_img span{display: table-cell;position:relative;top:0;left:0;}
	.separator.text-center {margin: 0 auto 35px;}
	.inner_content .inner_block{text-align:center;}
	.inner_content .inner_block .que_block,.inner_content .inner_block .ans_block{padding: 10px 20px;}

}
@media (max-width:640px){
	.inner_banner .innerbanner_text {font-size: 18px;}
	.inner_banner{height:150px;}
	.dataTables_wrapper .dataTables_filter {
    margin-top: 0!important;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    float: right!important;
}
div.dt-buttons{float:left!important;}
}
@media (max-width:600px){	
	footer .header_address .address{border-right:0px;}
}
@media (max-width:500px){
	.inner_banner img{width: auto; height: 100%;}
}
@media (max-width:400px){
	.inner_banner .innerbanner_text{ padding: 10% 0 0 0;}
	footer .header_address .address{width:200px;}
	footer .header_address .address{padding:0px;margin:0px;}
}