<div class="sidebar_wrap" *ngIf="globals.authData!=undefined">
  <ul class="sidebar_box">
    <li class="sidebar_box_label"><span>ACH</span></li>
    <li [ngClass]="{'active':globals.currentLink=='/ach-list'}" class="dropdown_menu collapsed" id="test_loginlog" (click)="checkcollapse('loginlog',1)" data-toggle="collapse"
      href="#collapseExample3" data-parent="#accordion"><a routerLink="/ach-list" title="ACH List" data-toggle="tooltip"
        data-placement="right"><i class="fa fa-university"></i><span>ACH List</span></a>
    </li>
    <li [ngClass]="{'active':globals.currentLink=='/ach-invitation'}" class="dropdown_menu collapsed" id="test_activitylog" (click)="checkcollapse('activitylog',1)" data-toggle="collapse"
      href="#collapseExample3" data-parent="#accordion"><a routerLink="/ach-invitation" title="Invite" data-toggle="tooltip"
        data-placement="right"><i class="fa fa-user-plus"></i><span>Invite</span></a>
    </li>
    <li [ngClass]="{'active':globals.currentLink=='/ach-invitation-list'}" class="dropdown_menu collapsed" id="test_emaillog" (click)="checkcollapse('emaillog',1)" data-toggle="collapse"
      href="#collapseExample3" data-parent="#accordion"><a routerLink="/ach-invitation-list" title="Invite List" data-toggle="tooltip"
        data-placement="right"><i class="fa fa-list-alt"></i><span>Invite List</span></a>
    </li>
    <li class="sidebar_box_label"><span>Audit Logs</span></li>
    <li [ngClass]="{'active':globals.currentLink=='/login-log'}" class="dropdown_menu collapsed" id="test_loginlog" (click)="checkcollapse('loginlog',1)" data-toggle="collapse"
      href="#collapseExample3" data-parent="#accordion"><a routerLink="/login-log" title="Login Logs" data-toggle="tooltip"
        data-placement="right"><i class="fa fa-key"></i><span>Login Logs</span></a>
    </li>
    <li [ngClass]="{'active':globals.currentLink=='/activity-log'}" class="dropdown_menu collapsed" id="test_activitylog" (click)="checkcollapse('activitylog',1)" data-toggle="collapse"
      href="#collapseExample3" data-parent="#accordion"><a routerLink="/activity-log" title="Activity Logs" data-toggle="tooltip"
        data-placement="right"><i class="fa fa-tasks"></i><span>Activity Logs</span></a>
    </li>
    <li [ngClass]="{'active':globals.currentLink=='/email-log'}" class="dropdown_menu collapsed" id="test_emaillog" (click)="checkcollapse('emaillog',1)" data-toggle="collapse"
      href="#collapseExample3" data-parent="#accordion"><a routerLink="/email-log" title="Email Logs" data-toggle="tooltip"
        data-placement="right"><i class="fa fa-envelope"></i><span>Email Logs</span></a>
    </li>
  </ul>
</div>